@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "roboto",sans-serif;
}
.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-left: 10%;
    flex: 20%;
    text-align: left;
}
.logo h1{
    font-family: "Lobster", cursive;
    color: #180f4a;
    font-size: 34px;
}
.menu{
    flex: 70%;
    border: 1px;
    text-align: right;
    padding: 20px;
}
.menu a{
    color: #180f4a;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}
.menu a:hover{
   color: #e72929;
   border-top: 4px solid #180f4a;
}
#btn{
    background: #180f4a;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}
#btn:hover{
    border: none;
    background: #e72929;
}
.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.headline{
    flex: 40%;
    margin-left: 10%;
}
.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: #180f4a;
    padding: 0;
    margin: 0;
}
.headline p{
    color: gray;
    text-align: left;
}
.img-headline{
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}
.contact-btn{
    display: inline-block;
    background: #e72929;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
}
.contact-btn:hover{
    background: #180f4a;
}